.activites {
  padding-bottom: 94px;
  text-align: center;
}

.activites__list {
  display: flex;
}

.activites__item {
  position: relative;
  margin-right: 30px;
  &:last-child{
    margin-right: 0;
  }
}

.activites__title {
  margin-bottom: 50px;
  font-family: "Roboto";
  font-style: normal;
  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.activites__text{
  color: $primary-white-color;
  font-weight: 700;
line-height: 1.15;
text-align: center;
text-transform: uppercase;
position: absolute;
bottom: 0;
display: flex;
justify-content: center;
align-items: center;
margin: 0;
padding: 0;
height: 70px;
width: 100%;
background-image: linear-gradient(rgba(47, 48, 58, 0.8),
 rgba(47, 48, 58, 0.8));


}
