.crew {
  background-color: $secondary-white-color;
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.crew__list {
  display: flex;
}

.crew__item {
  min-width: 270px;
  background-color: $primary-bg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
   margin-right: 30px;
   &:last-child{
    margin-right: 0;
   }
}

.crew__title {
  margin-bottom: 50px;
  color: $title-text-color;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.crew__content{
  padding-bottom: 30px;
  padding-top: 30px;
}

.crew__name {
  margin-bottom: 10px;
  color: $title-text-color;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 2;
  letter-spacing: 0.03em;
}

.crew__text {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.crew__link__list{
  display: flex;
justify-content: center;
}

.crew__link{
  display: flex;
  color: $icon-color;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
   transition-property:background-color, color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
  &:hover,
  &:focus{
    background-color: $accent-color;
    color: $primary-white-color;
  }
  
  
}

.crew__icon{
  fill: currentColor;
  width: 20px;
  height: 20px;

}