.page-header-menu__button{
  cursor: pointer;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  transition-property: fill;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
  &:hover,
  &:focus{
    fill: $accent-color;
  }
  
  @media screen and (min-width: 768px){
    display: none;
  }
}

.page-header-menu__button .page-header__icon-close{
  display: none;
}

.page-header-menu__button.is-open .page-header__icon-close{
  display: block;
}

.page-header-menu__button.is-open .page-header__icon-menu{
  display: none;
}

.page-header-menu__container{
 
background-color: $primary-white-color;
&.is-open{
  display: block;
}


@media screen and (max-width: 767px) {
  display: none;
   position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

@media screen and (min-width: 768px){
  display: flex;
}
}