.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
  &--none-border{
    border-bottom: 0;
  }
}

.page-header-main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}



.page-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
 padding-top: 16px;
 padding-bottom: 16px;
  

  color: #000000;
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
  &--color{
    color: $accent-color;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  
}
}





.page-header-site-nav__list {
  display: block;
  margin-bottom: 305px;
  
}

.page-header-site-nav__item {
  margin-bottom: 32px;
  &:last-child{
    margin-bottom: 0;
  }
}

.page-header-site-nav__link {
  display: block;
 


  color: $title-text-color;
font-family: 'Roboto';
font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
   transition-property: color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }

  
}

.page-header-site-nav__link--current{
  position: relative;
  font-family: 'Roboto';
font-style: normal;
  color: $accent-color;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
 
  &::after{
    position: absolute;
  content: "";
  left: 0;
  bottom: 0;
display: none;
width: 100%;
height: 4px;
border-radius: 2px;
background-color: $accent-color;
 @media screen and (min-width:768px) {
    display: block;
  }
}
  }

.page-header-mobile-site-nav-contacts__list{
  display: block;
  margin-bottom: 64px;
}

.page-header-mobile-site-nav-contacts__item{
  margin-bottom: 32px;
  &:last-child{
    margin-bottom: 0;
  }
}

.page-header-mobile-site-nav-contacts__link{
  color: #757575 ;
  font-family: "Roboto";
font-style: normal;
  color: $primary-text-color;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
   transition-property: color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
  &:hover,
&:focus{
color: $accent-color;
}
&--phone{
  color: $accent-color;
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
}

.page-header-mobile-site-nav-socials__list{
  display: flex;
}

.page-header-mobile-site-nav-socials__item{
  margin-right: 10px;
  &::after{
    content:"";
    margin-left: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  

  &:last-child{
    margin-right: 0;
    &::after{
      border-right: 0;
      margin-left: 0;
    }
  }
}

.page-header-mobile-site-nav-socials__link{
color: $accent-color;
text-decoration: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
}


.page-header-site-nav__contacts__list {
  display: none;
}

.page-header-site-nav__icon{
margin-right: 10px;
fill: currentColor;
}



.page-header-site-nav-contacts__item {
  margin-bottom: 32px;
  &:last-child{
    margin-bottom: 0;
  }


}

.page-header-site-nav-contacts__link {
  color: #757575 ;
  font-family: "Roboto";
  color: $primary-text-color;
  text-decoration: none;
  font-weight: 500;
  font-size: 33px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  display: flex;
   transition-property: color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
  &:hover,
&:focus{
color: $accent-color;
}



}